body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1, h5 {
    color: #343a40;
}

.user-catalog {
    padding: 20px;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.btn {
    margin-right: 5px;
    font-size: 0.85rem;
}

.btn-outline-dark {
    border-radius: 20px;
}


.btn-outline-dark i {
    margin-right: 5px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}
